
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    clip-path: circle(50% at 50% 50%);
}
.navbar{
    justify-content: space-between;
    
    margin-left: 20px;
    
    display: flex;
    
    
}

.navbar ul{
    display: flex;
    list-style: none;
    
    
}
.navbar ul li{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-style: oblique;
    
}
.navbar ul li a{
    
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: rgb(150, 213, 49);
}

footer div p {
    display: flex;
    justify-content: flex-end;
    border-top: solid 0.15rem #053f22;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    right: 0;
}
main{
    margin-top: 50px;
}
.Intro{
    padding-left: 50px;
    display: block;
    word-spacing: normal;
    font-size: large;
    line-height: 4ch;
}


section {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    background-color: rgb(43, 208, 220);
    border-radius: 0.8rem;
    padding: 2rem;
    margin: 1rem;
}

.container article:hover {
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}

article p::selection {
    color: rgb(0, 0, 0);
    background-color: rgb(149, 218, 195);
}

article img {
    width: 100%;
    height: auto;
}

figure {
    
	width: 250px;
	height: 350px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

div figure img {
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
div figure:hover img {
	transform: scale(1.2);
}